aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
click
colorama
constantly
crispy-bootstrap5
cryptography
cx_Oracle
daphne
defusedxml
deprecation
Django
django-admin-interface
django-colorfield
django-extensions
djangorestframework
frozenlist
gotrue
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
hyperlink
idna
incremental
MarkupSafe
marshmallow
multidict
oauthlib
oracledb
packaging
pillow
pipdeptree
postgrest
propcache
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pyOpenSSL
python-dateutil
python-dotenv
python-openid
python-slugify
python3-openid
realtime
requests
requests-oauthlib
service-identity
setuptools
six
sniffio
social-auth-app-django
social-auth-core
sqlparse
storage3
StrEnum
supabase
supafunc
text-unidecode
transbank-sdk
Twisted
txaio
typing_extensions
tzdata
urllib3
uvicorn
websockets
Werkzeug
yarl
zope.interfac
